In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime


sf_waves_2021 = pd.read_fwf('ndbc.noaa.gov_view_text_file.php_filename=46237h2021.txt.gz&dir=data_historical_stdmet_.txt')
sf_waves_2022 = pd.read_fwf('sf_2022_waves.txt')
sf_winds_2021 = pd.read_fwf('sf_winds_2021.txt')
sf_winds_2022 = pd.read_fwf('sf_winds_2022.txt')

#sf_waves_2022 = sf_waves_2022.drop(0, axis=0)
#sf_waves_2021 = sf_waves_2021.drop(0, axis=0)
print(sf_waves_2021.head(5))
print('break')

#print(int(list(sf_waves_2021['#YY'])))
sf_winds_2021.head(10)

    #YY  MM  DD  hh  mm  WDIR WSPD GST  WVHT    DPD    APD  MWD   PRES   ATMP  \
1  2021  01  01  00  00  999 99.0 99.0  3.05  15.38   9.07  277 9999.0  999.0
2  2021  01  01  00  30  999 99.0 99.0  3.25  15.38   9.92  275 9999.0  999.0
3  2021  01  01  01  00  999 99.0 99.0  3.20  16.67  10.19  277 9999.0  999.0
4  2021  01  01  01  30  999 99.0 99.0  3.20  15.38  10.15  276 9999.0  999.0
5  2021  01  01  02  00  999 99.0 99.0  3.17  15.38  10.42  275 9999.0  999.0

   WTMP   DEWP   VIS   TIDE
1  11.0  999.0  99.0  99.00
2  10.9  999.0  99.0  99.00
3  10.9  999.0  99.0  99.00
4  10.9  999.0  99.0  99.00
5  10.9  999.0  99.0  99.00
break

,#YY,MM,DD,hh,mm,WDIR WSPD GST,WVHT,DPD,APD,MWD PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT m/s m/s,m,sec,sec,degT hPa,degC,degC,degC,mi,ft
1,2021,01,01,00,00,263 4.3 5.4,99.00,99.00,99.00,999 1021.0,13.2,11.7,999.0,99.0,99.00
2,2021,01,01,00,06,258 3.7 4.9,99.00,99.00,99.00,999 1021.0,13.1,11.7,999.0,99.0,99.00
3,2021,01,01,00,12,258 4.0 5.5,99.00,99.00,99.00,999 1021.0,12.9,11.7,999.0,99.0,99.00
4,2021,01,01,00,18,250 3.8 5.9,99.00,99.00,99.00,999 1021.0,12.8,11.7,999.0,99.0,99.00
5,2021,01,01,00,24,249 3.5 6.3,99.00,99.00,99.00,999 1021.0,12.7,11.7,999.0,99.0,99.00
6,2021,01,01,00,30,260 2.8 4.5,99.00,99.00,99.00,999 1021.0,12.7,11.7,999.0,99.0,99.00
7,2021,01,01,00,36,255 3.2 3.9,99.00,99.00,99.00,999 1021.0,12.6,11.7,999.0,99.0,99.00
8,2021,01,01,00,42,255 2.6 3.7,99.00,99.00,99.00,999 1020.9,12.6,11.7,999.0,99.0,99.00
9,2021,01,01,00,48,999 99.0 99.0,99.00,99.00,99.00,999 9999.0,999.0,11.7,999.0,99.0,99.00

In [82]:
def add_datetime_column(df):                #Given df with seperate year, month, day, hour, min and second construct a date column
    year = list(df['#YY'])
    month = list(df['MM'])
    day = list(df['DD'])
    hour = list(df['hh'])
    minute = list(df['mm'])
    date_column = ['date']
    for i in range(1, len(df)):
        date_column.append(datetime(year = int(year[i]), month= int(month[i]), day = int(day[i]), hour = int(hour[i]), minute = int(minute[i])))
    df['Date'] = date_column
    return df

def drop_unnecessary_columns(df):
    cols_ro_remove = ['#YY_x', 'MM_x', 'DD_x', 'hh_x', 'mm_x','WVHT_x',
       'DPD_x', 'APD_x', 'TIDE_x', 'MWD   PRES_x', 'ATMP_x', 'DEWP_x', 'VIS_x', '#YY_y', 'MM_y', 'DD_y', 'hh_y', 'mm_y', 'ATMP_y', 'DEWP_y', 'VIS_y', 'TIDE_y']
    thinned_df = df.drop(columns = cols_ro_remove)
    return(thinned_df.head(10))
def remove_nan_columns(df):
    for column in df.columns:
        sd_column = np.std(df[column][1:])
        print(sd_column)

sf_waves_2021 = add_datetime_column(sf_waves_2021)
sf_waves_2022 = add_datetime_column(sf_waves_2022)
sf_winds_2021 = add_datetime_column(sf_winds_2021)
sf_winds_2022 = add_datetime_column(sf_winds_2022)
sf_data_2021 = sf_winds_2021.merge(sf_waves_2021, left_on='Date', right_on='Date')
sf_data_2022 = sf_winds_2022.merge(sf_waves_2022, left_on='Date', right_on='Date')
drop_unnecessary_columns(sf_data_2021)

,WDIR WSPD GST_x,WTMP_x,Date,WDIR WSPD GST_y,WVHT_y,DPD_y,APD_y,MWD PRES_y,WTMP_y
0,degT m/s m/s,degC,date,999 99.0 99.0,3.05,15.38,9.07,277 9999.0,11.0
1,260 2.8 4.5,11.7,2021-01-01 00:30:00,999 99.0 99.0,3.25,15.38,9.92,275 9999.0,10.9
2,999 99.0 99.0,11.7,2021-01-01 01:00:00,999 99.0 99.0,3.20,16.67,10.19,277 9999.0,10.9
3,999 99.0 99.0,11.7,2021-01-01 01:30:00,999 99.0 99.0,3.20,15.38,10.15,276 9999.0,10.9
4,999 99.0 99.0,11.6,2021-01-01 02:00:00,999 99.0 99.0,3.17,15.38,10.42,275 9999.0,10.9
5,999 99.0 99.0,11.6,2021-01-01 02:30:00,999 99.0 99.0,2.99,15.38,10.11,277 9999.0,10.9
6,999 99.0 99.0,11.5,2021-01-01 03:00:00,999 99.0 99.0,2.94,15.38,10.07,275 9999.0,10.9
7,999 99.0 99.0,11.5,2021-01-01 03:30:00,999 99.0 99.0,3.07,16.67,10.37,276 9999.0,10.9
8,999 99.0 99.0,11.6,2021-01-01 04:00:00,999 99.0 99.0,3.00,15.38,10.31,273 9999.0,10.9
9,999 99.0 99.0,11.5,2021-01-01 04:30:00,999 99.0 99.0,2.83,13.33,9.62,278 9999.0,10.9

In [ ]:
plt.plot(sf_waves_2021['WVHT'])